@use './queries.scss'as *;
@use './colors.scss'as *;
@use './fonts.scss'as *;

@import "./theme.scss";

:root {
    --base: 24px;
    --font-mono: 'Roboto Mono', monospace;

    --gutter-h: 180px;
    --block-padding: 120px;

    @include large-break {
        --gutter-h: 144px;
        --block-padding: 96px;
    }

    @include mid-break {
        --gutter-h: 24px;
        --block-padding: 60px;
    }
}

[lang="ar"] body {
    --font-body: 'Cairo', system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "icomoon";
}

[dir="rtl"] body {
    .font-serif {
        font-family: inherit;
    }
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

// input:focus~label,
// input:not(:placeholder-shown)~label {
//     @apply -translate-y-2 text-xsmall-regular;
// }

input:focus~label {
    left: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}